.Name,.h2,.heading-center
{
	font-family: nova-mono-n4, sans-serif;
}

#u1101
{
	font-family: ubuntu-n3, sans-serif;
}

#u1106
{
	font-family: open-sans-n3, sans-serif;
}

#u1108-5
{
	font-family: asap-n4, sans-serif;
}

#u1744
{
	font-family: '__LaudatioC_5';
}

#u2109-4,#u2144-5
{
	font-family: nova-mono-n4, sans-serif;
}

#u2251-9
{
	font-family: open-sans-i6, sans-serif;
}

#u2147-8,#u2246,#u2248-4,#u2250,#u2251,#u1082-6,#u1083-6,#u1084-4
{
	font-family: nova-mono-n4, sans-serif;
}

#u1105-5,#u2147-12,#u2246-9,#u2248-10,#u2250-11,#u2251-3,#u2251-4,#u2251-6,#u2251-7,#u1922-4,#u1920-4,#u1925-8,#u1924-4
{
	font-family: '__HanaMinA_5';
}

#u1919-3,#u1927-3,#u742-7
{
	font-family: nova-mono-n4, sans-serif;
}

