/*

*/

.version.index /* version checker */
{
	color: #00000B;
	background-color: #C3EB73;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2444.8676767676757px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -10px;
	padding-top: 67px;
}

#slideshowu1136
{
	z-index: 145;
	width: 0.01px;
	height: 595px;
	position: fixed;
	top: 0px;
	left: -100px;
}

#u1138
{
	position: absolute;
	width: 1220px;
	height: 595px;
	background-color: transparent;
}

#u1138popup
{
	z-index: 146;
}

#u1398
{
	z-index: 147;
	width: 1220px;
	height: 595px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1407
{
	z-index: 149;
	width: 1220px;
	height: 595px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1416
{
	z-index: 151;
	width: 1220px;
	height: 595px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1425
{
	z-index: 153;
	width: 1220px;
	height: 595px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1199
{
	z-index: 155;
	display: block;
	vertical-align: top;
	margin-left: 282px;
	position: relative;
}

#u2108
{
	z-index: 157;
	height: 53px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u2108-bw
{
	z-index: 157;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 590px;
}

#u2114
{
	z-index: 158;
	width: 476px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 600px;
	left: 443px;
}

#u2109-4
{
	z-index: 159;
	width: 133px;
	min-height: 45px;
	background-color: transparent;
	line-height: 30px;
	font-size: 30px;
	color: #D09EBE;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2110
{
	z-index: 163;
	width: 108px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 368px;
}

#u1098-6
{
	z-index: 75;
	width: 980px;
	min-height: 60px;
	background-color: transparent;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 183px;
	position: relative;
}

#u1098-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1098-4
{
	font-size: 17px;
	line-height: 20px;
}

#pbuttonu1099
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#buttonu1099
{
	z-index: 81;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 108px;
	position: relative;
	margin-right: -10000px;
}

#u1101-5
{
	z-index: 82;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
}

#buttonu1099:hover #u1101-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 241px -10000px 0px 0px;
}

#buttonu1099:hover #u1101-5 p,#buttonu1099:hover #u1101-5 a,#buttonu1099:hover #u1101-5 span
{
	color: #D09EBE;
	visibility: inherit;
}

#u1101
{
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#buttonu1103
{
	z-index: 87;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 108px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u1106-5
{
	z-index: 88;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
}

#buttonu1099.ButtonSelected #u1101-5,#buttonu1103:hover #u1106-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 241px -10000px 0px 0px;
}

#buttonu1103:hover #u1106-5 p,#buttonu1103:hover #u1106-5 a,#buttonu1103:hover #u1106-5 span
{
	color: #D09EBE;
	visibility: inherit;
}

#u1106
{
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#buttonu1107
{
	z-index: 93;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 156px;
	position: relative;
	margin-right: -10000px;
	left: 673px;
}

#buttonu1099.ButtonSelected,#buttonu1103.ButtonSelected,#buttonu1107.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
}

#u1108-5
{
	z-index: 94;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
}

#buttonu1103.ButtonSelected #u1106-5,#buttonu1107:hover #u1108-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 241px -10000px 0px 0px;
}

#buttonu1107.ButtonSelected #u1108-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 241px -10000px 0px 0px;
}

#buttonu1107:hover #u1108-5 p,#buttonu1107:hover #u1108-5 a,#buttonu1107:hover #u1108-5 span
{
	color: #D09EBE;
	visibility: inherit;
}

#buttonu1099.ButtonSelected #u1101-5 p,#buttonu1099.ButtonSelected #u1101-5 a,#buttonu1099.ButtonSelected #u1101-5 span,#buttonu1103.ButtonSelected #u1106-5 p,#buttonu1103.ButtonSelected #u1106-5 a,#buttonu1103.ButtonSelected #u1106-5 span,#buttonu1107.ButtonSelected #u1108-5 p,#buttonu1107.ButtonSelected #u1108-5 a,#buttonu1107.ButtonSelected #u1108-5 span
{
	color: #000000;
	visibility: inherit;
}

#u1100
{
	z-index: 99;
	width: 307px;
	height: 221px;
	border-color: #000000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/ubuntu-2-u1100-fr-ieu1100-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/ubuntu-2-u1100-fr.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1102-9
{
	z-index: 100;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
}

#u1102-3,#u1102-7
{
	font-size: 10px;
	line-height: 17px;
}

#u1104
{
	z-index: 109;
	width: 307px;
	height: 221px;
	border-color: #000000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
	background: transparent url("../images/yosemite-logo-u1104-fr-ieu1104-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/yosemite-logo-u1104-fr.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1105-7
{
	z-index: 110;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 336px;
}

#u1105-2,#u1105-3
{
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u1105-5
{
	font-size: 19px;
	line-height: 32px;
	font-family: '__HanaMinA_5';
	font-weight: 500;
}

#u1109-15
{
	z-index: 117;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 673px;
}

#u1109-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1109-2,#u1109-4,#u1109-5,#u1109-11
{
	font-size: 12px;
	line-height: 20px;
}

#u1109-9
{
	font-weight: bold;
}

#u1109-12
{
	font-size: 11px;
	line-height: 19px;
}

#u1110
{
	z-index: 132;
	width: 307px;
	height: 221px;
	border-color: #000000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	left: 673px;
	background: transparent url("../images/windows-2-u1110-fr-ieu1110-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/windows-2-u1110-fr.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1743-7
{
	z-index: 133;
	width: 523px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 236px;
}

#u1744-5
{
	z-index: 140;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 337px;
}

#u1744-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 417px -10000px 0px 0px;
}

#u1744-5:hover p,#u1744-5:hover a,#u1744-5:hover span
{
	color: #D09EBE;
	visibility: inherit;
}

#u1744
{
	color: #000000;
	font-family: '__LaudatioC_5';
	font-weight: 400;
}

#pu1081
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u1081
{
	z-index: 60;
	border-color: #000000;
	background: #FFFFFF url("../images/slideshow-4.jpg") no-repeat center bottom;
	background-size: cover;
}

#u1081_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 124px;
	padding-bottom: 173px;
}

#u1082-3
{
	z-index: 61;
	width: 980px;
	min-height: 33px;
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	left: 120px;
	position: relative;
}

#u1083-6
{
	z-index: 64;
	width: 980px;
	min-height: 89px;
	background-color: transparent;
	font-size: 37px;
	color: #FFFFFF;
	line-height: 44px;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	left: 127px;
	margin-top: 25px;
	position: relative;
}

#u1081-bw
{
	z-index: 60;
	height: 443px;
}

#u1084-4
{
	z-index: 70;
	width: 185px;
	min-height: 52px;
	background-color: #D2A0BE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: left;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 915px;
}

#u1084-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	margin: 179px -10000px 0px 0px;
}

#u1084-4:hover p
{
	color: #22B573;
	visibility: inherit;
}

#u1084-2
{
	padding-top: 11px;
}

#u2061
{
	z-index: 74;
	width: 39px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 1055px;
}

#u2046
{
	z-index: 59;
	width: 115px;
	min-height: 121px;
	margin-left: 452px;
	margin-top: 43px;
	position: relative;
}

#pamphletu1909
{
	z-index: 14;
	width: 0.01px;
	height: 397px;
	position: fixed;
	top: 1966px;
	left: 20px;
}

#u1939
{
	z-index: 15;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 468px;
}

#u1941
{
	position: absolute;
	width: 11px;
	height: 11px;
	border-width: 2px;
	border-style: solid;
	border-color: #D09EBE;
	background-color: #D09EBE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1942
{
	position: absolute;
	width: 11px;
	height: 11px;
	border-width: 2px;
	border-style: solid;
	border-color: #D09EBE;
	background-color: #D09EBE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 29px;
}

#u1941.PamphletThumbSelected,#u1942.PamphletThumbSelected
{
	background-color: #FFFFFF;
	width: 11px;
	height: 11px;
	min-height: 0px;
	margin: 0px;
}

#u1914
{
	position: absolute;
	width: 980px;
	background-color: transparent;
}

#u1914popup
{
	z-index: 18;
}

#u1915
{
	z-index: 19;
	width: 856px;
	height: 332px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 59px;
	padding-right: 65px;
	padding-bottom: 18px;
	margin-right: -10000px;
	position: relative;
}

#u1922-4
{
	z-index: 20;
	width: 856px;
	min-height: 79px;
	background-color: transparent;
	font-family: '__HanaMinA_5';
	font-weight: 500;
	font-style: normal;
	position: relative;
}

#u1921
{
	z-index: 24;
	width: 224px;
	height: 1px;
	border-color: #000000;
	background-color: #D09EBE;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u1997
{
	z-index: 35;
	width: 125px;
	background-color: transparent;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	-khtml-border-radius: 75px;
	border-radius: 75px;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u1918
{
	z-index: 25;
	width: 224px;
	height: 1px;
	border-color: #000000;
	background-color: #D09EBE;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 439px;
}

#u1920-4
{
	z-index: 26;
	width: 310px;
	min-height: 46px;
	background-color: transparent;
	line-height: 36px;
	font-family: '__HanaMinA_5';
	font-weight: 500;
	margin-left: 273px;
	margin-top: 23px;
	position: relative;
}

#u1919-5
{
	z-index: 30;
	width: 310px;
	min-height: 23px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 400;
	margin-left: 273px;
	margin-top: 2px;
	position: relative;
}

#u1923
{
	z-index: 37;
	width: 856px;
	height: 332px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	-khtml-border-radius: 75px;
	border-radius: 75px;
	padding-left: 59px;
	padding-right: 65px;
	padding-bottom: 18px;
	margin-right: -10000px;
	position: relative;
}

#u1925-8
{
	z-index: 38;
	width: 856px;
	min-height: 79px;
	background-color: transparent;
	font-family: '__HanaMinA_5';
	font-weight: 500;
	font-style: normal;
	position: relative;
}

#pu1921,#pu1926
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 34px;
}

#u1926
{
	z-index: 46;
	width: 224px;
	height: 1px;
	border-color: #000000;
	background-color: #D09EBE;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u2003
{
	z-index: 57;
	width: 125px;
	background-color: transparent;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	-khtml-border-radius: 75px;
	border-radius: 75px;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u1997 .clip_frame,#u2003 .clip_frame
{
	-webkit-border-radius: 75px 75px 75px 75px;
}

#u1930
{
	z-index: 47;
	width: 224px;
	height: 1px;
	border-color: #000000;
	background-color: #D09EBE;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 439px;
}

#u1924-4
{
	z-index: 48;
	width: 310px;
	min-height: 46px;
	background-color: transparent;
	line-height: 36px;
	font-family: '__HanaMinA_5';
	font-weight: 500;
	margin-left: 273px;
	margin-top: 23px;
	position: relative;
}

#u1927-5
{
	z-index: 52;
	width: 310px;
	min-height: 23px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 400;
	margin-left: 273px;
	margin-top: 2px;
	position: relative;
}

#u1919-3,#u1927-3
{
	font-size: 15px;
	color: #22B573;
	font-family: nova-mono, sans-serif;
}

#u1083-2,#u1919,#u1927
{
	color: #D09EBE;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u2054
{
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 10px;
}

#u2054_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1019px;
	position: relative;
	left: -100px;
}

#u742-7
{
	z-index: 3;
	width: 196px;
	min-height: 31px;
	background-color: transparent;
	font-size: 13px;
	text-align: center;
	line-height: 16px;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 516px;
}

#u742-4
{
	color: #FFFFFF;
}

#u750
{
	z-index: 9;
	width: 11px;
	background-color: transparent;
}

#u750_img
{
	vertical-align: bottom;
}

#u1108,#u742-5
{
	color: #000000;
}

#u2055
{
	z-index: 13;
	width: 41px;
	min-height: 44px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 931px;
}

#u2054-bw
{
	z-index: 2;
	margin-top: 461px;
	height: 61px;
}

@font-face
{
	font-family: '__LaudatioC_5';
	src: url('../fonts/laudcn_2.eot');
	src: local('☺'), url('../fonts/laudcn_2.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__HanaMinA_5';
	src: url('../fonts/hanamina.eot');
	src: local('☺'), url('../fonts/hanamina.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

